[submodule "base/lib/forge-std"]
	path = base/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "base/lib/openzeppelin-contracts"]
	path = base/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
