name: API [Go]

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        # with:
        #   go-version-file: "go.mod"

      - name: Verify Go version
        run: go version

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build -v .

      - name: Run tests
        run: go test -v .
