name: API [Go]

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: api

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: "api/go.mod"

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build -v .

      - name: Run tests
        run: go test -v .

      - name: Open Isssues
        uses: alstr/todo-to-issue-action@v5.1.13
