name: Core [Rust]

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: core

    steps:
      - uses: actions/checkout@v5

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Open Isssues
        uses: alstr/todo-to-issue-action@v5.1.13
