name: Open Issues 

on: [ "push" ]

jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      issues: write

    steps:
      - uses: actions/checkout@v6
      - uses: alstr/todo-to-issue-action@v5
