name: Open Issues

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      issues: write

    steps:
      - uses: actions/checkout@v6
      - uses: alstr/todo-to-issue-action@v5
        with:
          AUTO_ASSIGN: "true"
          IDENTIFIERS: '[{"name": "BUG", "labels": ["bug"]}, {"name": "WARN", "labels": ["invalid"]}, {"name": "TODO", "labels": ["enhancement"]}, {"name": "INFO", "labels": ["documentation"]}, {"name": "PERF", "labels": ["performance"]}, {"name": "TEST", "labels": ["testing"]}, {"name": "HELP", "labels": ["question"]}]'
